.idea/
.vscode/
.env
.exe

/gen

/combo
/combo-cli

goa*/

/gen/*
!/gen/http
/gen/http/*
!/gen/http/openapi3.yaml

/ent/*
!/ent/schema
!/ent/generate.go
!/ent/internal
!/ent/privacy
!/ent/rule
!/ent/viewer
